@media screen and (max-width: 750px){
    body{
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .left{
                text-align: center;
                margin-top: 4em;
                .title{
                    font-size: 45px;
                    padding-right: 0;
                }
                .description{
                    padding-right: 0;
                }
            }
        }
    }
}